* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.timer {
  width: 100%;
  max-width: 800px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.timer-controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 10px;
}

#custom {
  flex: 1;
  display: flex;
}

#custom input {
  flex: 1;
  border: 0;
  background: #f7f7f7;
  color: #000;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

#custom input:focus {
  outline: 0;
}

.display {
  text-align: center;
}

.display-time-left {
  font-size: 70px;
  font-weight: 100;
}

.display-end-time {
  font-size: 20px;
  font-weight: 100;
}

.timer-button {
  flex: 1;
  border: 0;
  background: #fff;
  color: #000;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
}

.timer-button + .timer-button {
  margin-left: 10px;
}

.timer-button[data-time="20"] {
  background: #ff9800;
  color: #fff;
}

.timer-button[data-time="300"] {
  background: #2196f3;
  color: #fff;
}

.timer-button[data-time="900"] {
  background: #4caf50;
  color: #fff;
}

.timer-button[data-time="1200"] {
  background: #f44336;
  color: #fff;
}

.timer-button[data-time="3600"] {
  background: #9c27b0;
  color: #fff;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.timer-button-pause {
  background: #ff9800;
  color: #fff;
}

.timer-button-reset {
  background: #f44336;
  color: #fff;
}

.timer-button-start {
  background: #4caf50;
  color: #fff;
}
